# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
ControlStation/.vs/*
ControlStation/out/*

# Build Files
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/*


# Libraries
ControlStation/wxWidgets-3.1.3/*
